@{layout('')}
<!DOCTYPE html>
<html>
<head>
    @{meta}
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=1024, user-scalable=yes" />
	<meta name="robots" content="all,follow" />
	<script src="//cdn.componentator.com/spa.min@19.js"></script>
	<link rel="stylesheet" href="//cdn.componentator.com/spa.min@19.css" />
	@{import('meta', 'head', 'ui.css + default.css', 'default.js', 'favicon.ico')}
	<style type="text/css">
		body { padding: 50px; margin: 0; font:normal 12px Arial; color: gray }
		.paging { font-size: 11px; height: 20px }
		.paging a { float: left; margin-right: 5px; }
		.paging div { float: right; }
		.mb5 { margin-bottom: 5px; }
	</style>
</head>
<body>
	<div data---="loading__null__style:2" class="hidden"></div>
	<div data---="LAZY fileuploader"></div>
	<div data---="notifybar"></div>

	@{body}
<script>
	var common = {};
	common.alpr = {};
	
</script>
</body>
</html>